body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y:hidden;
}

body.dark {
  background-color: #222222;
}

.btn {
  background-color:lightblue;
  border: none;
  text-align: center;
  text-decoration: none;
  display: none;
  /* display: inline-block; */
  font-size: 14px;
  height: 30px;
  width: 180px;
  margin-bottom: 15px;
  border-radius: 6px;
  cursor: pointer;
}

#gear-image {
  height: 20px;
  padding-top: 5px;
  padding-left: 10px;
}

#config-readwise-setings {
  display: none;
  margin-bottom: 20px;
}

#btn-configure-readwise {
  filter: invert(0.8);
}

.extension-header {
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 16pt;
  font-weight: bold;
}

.book-images {
  width:45px;
  margin-left: 5px;
  border-radius: 10%;
}

.dark a {
  color: aqua
}


.btn-insert-highlights {
  filter: invert(0.95);
  width: 20px !important;
  padding-right: 5px;
}


.dark .btn-insert-highlights {
  filter: invert(0.2);
}


.btn-insert-highlights:hover {
  filter: invert(0.85);
}

#btn-configure-readwise:hover {
  filter: invert(0.50);
}

body.dark {
  color: silver;
}

body.dark .btn {
  background-color: #464646;
  color: #cfcfcf;
}

.btn:hover {
  background-color: #c6c6c6;
}

body.dark .btn:hover {
  background-color: #3c3c3c;
}

.btn:active {
  background-color: #b8b8b8;
}

body.dark .btn:active {
  background-color: #303030;
}
